/* Classi x COLORE BACKGROUND */
.bck-light-grey{
    background-color: lightgrey;
}

.bck-dark-blue{
    background-color: darkblue;
}

.bck-light-black{
    background-color:  rgb(46, 42, 42) ;
}


/* HEADER */
div#my-sony-bar{
    width: 100%;
    height: 36px;
    background-color: black;
}

div#my-sony-bar > img{
    width: 80px;
}

/* MAIN */
section#my-jumbotron{
    height: calc(100vh - 112px);
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

div.my-jb-banner{
    top: 300px;
}

div.my-jb-text{
    width: 250px;
}

/* TERZA SEZIONE My-Game-Banner */
section#my-game-banner{
    /* height: 70vh; */
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

img.my-game-img{
    width: 220px;
}

/* SESTA SEZIONE  */
img.plus-img{
    width: 400px;
}

/* FOOTER */
img#play-footer-logo{
    width: 20%;
    min-width: 130px;
}

img#sie-footer-logo{
    width: 25%;
    min-width: 110px;
}


/* MEDIE FOOTER */
/* @media screen and (max-width: 576px){
    div.social-app{
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 577px) and (max-width: 768px){
    div.social-app{
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    div.social-app{
        width: calc(100% / 5);
    }
} */

.riempitore{
    height: 150px;
    background-color: bisque;
    border: 1px solid black;
}