/* HEADER */
div#sony-bar{
    width: 100%;
    height: 36px;
    background-color: black;
}

div#sony-bar > img{
    width: 80px;
}

/* MAIN */
section#jumbotron{
    height: calc(100vh - 112px);
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

section#jumbotron div.jb-banner{
    bottom: 50px;
    left: 50px;
}

div.game-banner{
    width: 250px;
}