/* HEADER */
div#my-sony-bar{
    width: 100%;
    height: 36px;
    background-color: black;
}

div#my-sony-bar > img{
    width: 80px;
}

/* MAIN */
section#my-jumbotron{
    height: calc(100vh - 112px);
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

div.my-jb-banner{
    top: 300px;
}

div.my-jb-text{
    width: 250px;
}

/* SECONDA SEZIONE My Console */
/* Row (3) */
div.my-gadjet{
    width: calc(100% / 5);
    min-width: 130px;
}

/* TERZA SEZIONE My-Game-Banner */
section#my-game-banner{
    /* height: 70vh; */
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

img.my-game-img{
    width: 220px;
}

/* QUARTA SEZIONE My-Game-Card */
section#my-game-sec{
    background-color: rgb(46, 42, 42);
}

div.my-game-card{
    width: calc((100% / 6) - .5rem);
    /* border: 1px solid black; */
}

/* QUINTA SEZIONE  */
section#my-plus-service{
    background-color: lightgrey;
}

img#plus-img{
    width: 400px;
}



/* MEDIE QUERY */
/* SECONDA SEZIONE My Console - Medie x Row (3) */
@media screen and (max-width: 576px){
    div.my-gadjet{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    div.my-gadjet{
        width: calc(100% / 3);
    }
}

/* QUARTA SEZIONE My-Game-Card */
/* Modifica la dimensione degli elementi quando la grandezza della viewport è da 0 a 992px */
@media screen and (max-width: 992px){
    div.my-game-card{
        width: calc((100% / 3) - .5rem);
    }
}

/* Modifica la dimensione degli elementi quando la grandezza della viewport da 0 a 576px */
@media screen and (max-width: 576px){
    div.my-game-card{
        width: calc((100% / 2) - .5rem);
    }
}